<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.diegomrosa.pila"
      android:versionCode="2"
      android:versionName="1.1">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16" />

    <application android:label="@string/appName"
            android:name=".PilaApp"
            android:icon="@drawable/pila_launcher">
        <activity android:name=".presentation.MainActivity" android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ExpenseActivity" android:label="@string/expenseLabel" />
        <activity android:name=".presentation.ExpensesListActivity" android:label="@string/expensesListLabel"/>
        <activity android:name=".presentation.AboutActivity" android:label="@string/aboutLabel"/>
    </application>
</manifest>
